* {
  margin: 0;
}

.imgfloat {
  width: 40%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.imgfloat2 {
  width: 40%;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}
.part1 {
  background-color: lightcoral;
}

.clear {
  clear: both;
}

/* .part2{

    clear: left;
} */

.container {
  border: 2px solid red;

  margin-top: 20px;
}

.box {
}

.box1 {
  background-color: lime;
  float: left;
  width: 20%;
  height: 10vh;
  background-image: url("https://picsum.photos/id/217/600/400");

  background-color: cover;
}

.box2 {
  background-color: purple;
  float: left;
  width: 60%;
  height: 20vh;
  background-image: url("https://picsum.photos/id/10/120/0300");

  background-color: cover;
}

.box3 {
  background-color: darkorange;
  float: left;
  width: 20%;
  height: 30vh;
  background-image: url("https://picsum.photos/id/684/600/400");

  background-color: cover;
}
